In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/Siddhi/Downloads/DSBDAL/Book1.csv")

In [3]:
df

,MathScore,ReadingScore,WritingScore,ClubJoin,PlacementScore,PlacementOffer
0,61.0,78.0,67.0,2023,98,3
1,78.0,94.0,68.0,2022,98,3
2,72.0,82.0,74.0,2021,86,3
3,72.0,88.0,68.0,2024,88,3
4,68.0,77.0,78.0,2024,96,3
5,69.0,85.0,75.0,2023,95,3
6,61.0,81.0,NaN,2020,87,3
7,70.0,87.0,NaN,2020,96,3
8,79.0,82.0,NaN,2022,97,3
9,74.0,82.0,NaN,2022,77,2
10,74.0,83.0,NaN,2022,80,2
11,61.0,91.0,NaN,2020,83,2
12,70.0,75.0,NaN,2023,97,3
13,74.0,84.0,NaN,2024,77,2
14,71.0,90.0,NaN,2022,81,2
15,74.0,90.0,NaN,2022,76,2
16,71.0,81.0,NaN,2020,99,3
17,62.0,93.0,78.0,2021,78,2
18,74.0,87.0,70.0,2024,84,2
19,70.0,81.0,68.0,2022,98,3
20,60.0,78.0,64.0,2024,90,3
21,75.0,89.0,74.0,2022,95,3
22,60.0,81.0,65.0,2021,78,2
23,68.0,81.0,61.0,2021,81,2
24,61.0,83.0,67.0,2020,80,2
25,62.0,NaN,70.0,2020,89,3
26,70.0,83.0,62.0,2021,92,3
27,67.0,84.0,72.0,2020,85,3
28,74.0,87.0,77.0,2022,79,2
29,67.0,76.0,75.0,2021,99,3
30,69.0,89.0,72.0,2022,75,2
31,NaN,95.0,74.0,2024,87,3
32,NaN,88.0,71.0,2024,93,3
33,NaN,85.0,72.0,2022,89,3
34,NaN,84.0,72.0,2020,90,3
35,NaN,79.0,72.0,2020,75,2
36,NaN,90.0,73.0,2023,80,2
37,NaN,85.0,67.0,2020,81,2
38,NaN,75.0,69.0,2021,79,2
39,NaN,82.0,63.0,2024,81,2
40,NaN,95.0,67.0,2024,78,2
41,60.0,89.0,72.0,2021,79,2
42,78.0,90.0,74.0,2021,83,2
43,77.0,91.0,62.0,2020,75,2
44,72.0,92.0,75.0,2022,100,3
45,64.0,91.0,80.0,2024,87,3
46,72.0,81.0,68.0,2024,84,2
47,60.0,80.0,66.0,2022,99,3
48,62.0,NaN,65.0,2020,86,3
49,74.0,93.0,74.0,2021,95,3
50,65.0,92.0,70.0,2023,87,3
51,71.0,75.0,64.0,2021,93,3
52,67.0,87.0,75.0,2021,98,3
53,69.0,91.0,72.0,2023,77,2
54,64.0,80.0,64.0,2022,89,3
55,78.0,92.0,75.0,2021,94,3
56,69.0,82.0,68.0,2020,96,3
57,72.0,80.0,67.0,2021,97,3
58,66.0,90.0,74.0,2023,98,3

In [4]:
df.isnull()

,MathScore,ReadingScore,WritingScore,ClubJoin,PlacementScore,PlacementOffer
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,True,False,False,False
7,False,False,True,False,False,False
8,False,False,True,False,False,False
9,False,False,True,False,False,False
10,False,False,True,False,False,False
11,False,False,True,False,False,False
12,False,False,True,False,False,False
13,False,False,True,False,False,False
14,False,False,True,False,False,False
15,False,False,True,False,False,False
16,False,False,True,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,True,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,True,False,False,False,False,False
32,True,False,False,False,False,False
33,True,False,False,False,False,False
34,True,False,False,False,False,False
35,True,False,False,False,False,False
36,True,False,False,False,False,False
37,True,False,False,False,False,False
38,True,False,False,False,False,False
39,True,False,False,False,False,False
40,True,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,True,False,False,False,False
49,False,False,False,False,False,False
50,False,False,False,False,False,False
51,False,False,False,False,False,False
52,False,False,False,False,False,False
53,False,False,False,False,False,False
54,False,False,False,False,False,False
55,False,False,False,False,False,False
56,False,False,False,False,False,False
57,False,False,False,False,False,False
58,False,False,False,False,False,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MathScore       49 non-null     float64
 1   ReadingScore    57 non-null     float64
 2   WritingScore    48 non-null     float64
 3   ClubJoin        59 non-null     int64
 4   PlacementScore  59 non-null     int64
 5   PlacementOffer  59 non-null     int64
dtypes: float64(3), int64(3)
memory usage: 2.9 KB

In [6]:
df.MathScore.min()

60.0

In [7]:
df.MathScore.min

<bound method Series.min of 0     61.0
1     78.0
2     72.0
3     72.0
4     68.0
5     69.0
6     61.0
7     70.0
8     79.0
9     74.0
10    74.0
11    61.0
12    70.0
13    74.0
14    71.0
15    74.0
16    71.0
17    62.0
18    74.0
19    70.0
20    60.0
21    75.0
22    60.0
23    68.0
24    61.0
25    62.0
26    70.0
27    67.0
28    74.0
29    67.0
30    69.0
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41    60.0
42    78.0
43    77.0
44    72.0
45    64.0
46    72.0
47    60.0
48    62.0
49    74.0
50    65.0
51    71.0
52    67.0
53    69.0
54    64.0
55    78.0
56    69.0
57    72.0
58    66.0
Name: MathScore, dtype: float64>

In [8]:
df.MathScore

0     61.0
1     78.0
2     72.0
3     72.0
4     68.0
5     69.0
6     61.0
7     70.0
8     79.0
9     74.0
10    74.0
11    61.0
12    70.0
13    74.0
14    71.0
15    74.0
16    71.0
17    62.0
18    74.0
19    70.0
20    60.0
21    75.0
22    60.0
23    68.0
24    61.0
25    62.0
26    70.0
27    67.0
28    74.0
29    67.0
30    69.0
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41    60.0
42    78.0
43    77.0
44    72.0
45    64.0
46    72.0
47    60.0
48    62.0
49    74.0
50    65.0
51    71.0
52    67.0
53    69.0
54    64.0
55    78.0
56    69.0
57    72.0
58    66.0
Name: MathScore, dtype: float64

In [9]:
df.MathScore.max

<bound method Series.max of 0     61.0
1     78.0
2     72.0
3     72.0
4     68.0
5     69.0
6     61.0
7     70.0
8     79.0
9     74.0
10    74.0
11    61.0
12    70.0
13    74.0
14    71.0
15    74.0
16    71.0
17    62.0
18    74.0
19    70.0
20    60.0
21    75.0
22    60.0
23    68.0
24    61.0
25    62.0
26    70.0
27    67.0
28    74.0
29    67.0
30    69.0
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41    60.0
42    78.0
43    77.0
44    72.0
45    64.0
46    72.0
47    60.0
48    62.0
49    74.0
50    65.0
51    71.0
52    67.0
53    69.0
54    64.0
55    78.0
56    69.0
57    72.0
58    66.0
Name: MathScore, dtype: float64>

In [10]:
y=df.MathScore.fillna(65)

In [11]:
y

0     61.0
1     78.0
2     72.0
3     72.0
4     68.0
5     69.0
6     61.0
7     70.0
8     79.0
9     74.0
10    74.0
11    61.0
12    70.0
13    74.0
14    71.0
15    74.0
16    71.0
17    62.0
18    74.0
19    70.0
20    60.0
21    75.0
22    60.0
23    68.0
24    61.0
25    62.0
26    70.0
27    67.0
28    74.0
29    67.0
30    69.0
31    65.0
32    65.0
33    65.0
34    65.0
35    65.0
36    65.0
37    65.0
38    65.0
39    65.0
40    65.0
41    60.0
42    78.0
43    77.0
44    72.0
45    64.0
46    72.0
47    60.0
48    62.0
49    74.0
50    65.0
51    71.0
52    67.0
53    69.0
54    64.0
55    78.0
56    69.0
57    72.0
58    66.0
Name: MathScore, dtype: float64

In [12]:
df.isnull().sum()

MathScore         10
ReadingScore       2
WritingScore      11
ClubJoin           0
PlacementScore     0
PlacementOffer     0
dtype: int64

In [13]:
df.MathScore.isnull().sum()

np.int64(10)

In [14]:
df.WritingScore.min()

61.0

In [15]:
x=df.WritingScore.min()

In [16]:
x

61.0

In [17]:
y=df.WritingScore.fillna(x)

In [18]:
y

0     67.0
1     68.0
2     74.0
3     68.0
4     78.0
5     75.0
6     61.0
7     61.0
8     61.0
9     61.0
10    61.0
11    61.0
12    61.0
13    61.0
14    61.0
15    61.0
16    61.0
17    78.0
18    70.0
19    68.0
20    64.0
21    74.0
22    65.0
23    61.0
24    67.0
25    70.0
26    62.0
27    72.0
28    77.0
29    75.0
30    72.0
31    74.0
32    71.0
33    72.0
34    72.0
35    72.0
36    73.0
37    67.0
38    69.0
39    63.0
40    67.0
41    72.0
42    74.0
43    62.0
44    75.0
45    80.0
46    68.0
47    66.0
48    65.0
49    74.0
50    70.0
51    64.0
52    75.0
53    72.0
54    64.0
55    75.0
56    68.0
57    67.0
58    74.0
Name: WritingScore, dtype: float64

In [20]:
df.PlacementScore.isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
Name: PlacementScore, dtype: bool

In [21]:
df.PlacementScore.isnull().sum()

np.int64(0)

In [22]:
x=df.PlacementScore.min()

In [23]:
x

75